# Python virtual environment
venv/
/venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database files
*.sqlite3

# Flask instance folder
/instance

# Generated static files
static/qrcodes/*.png

# IDE and editor configuration files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store

# Environment variables file
.env
.flaskenv
