{% extends "admin/admin_layout.html" %}

{% block title %}View Spots - {{lot.prime_location_name}}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Spots for: <span class="text-primary">{{lot.prime_location_name}}</span></h2>
    <a href="{{url_for('admin.admin_dashboard')}}" class="btn btn-sm btn-secondary ">Back to Lots</a>
</div>

<style>
    .table td,.table th{
        color:white;
        background-color:#2C2533;
   }
   .table th{
    font-size: larger;
   }
</style>

<div class="card"style="color:white;background-color:#2C2533;border-radius: 50px;">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Spot</th><th>Level</th><th>Type</th><th>Status</th><th>Reserved</th><th>Features</th><th>Price Multiplier</th>
                </tr>
            </thead>
            <tbody>
                {% for s in spots %}
                <tr>
                    <td><strong>#{{s.spot_number}}</strong></td>
                    <td><span class="badge bg-secondary">{{s.levels}}</span></td>
                    <td>
                        {% if s.spacetype == 'premium' %}
                            <span class="badge bg-warning text-dark">Premium</span>
                        {% else %}
                            <span class="badge bg-light text-dark">Standard</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if s.status == 'A' %}
                            <span class="badge bg-success">Available</span>
                        {% else %}
                            <span class="badge bg-danger">Occupied</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if s.isreserved %}
                            <span class="badge bg-warning">Reserved</span>
                        {% else %}
                            <span class="badge bg-light text-dark">Free</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if s.evsupport %}
                            <span class="badge bg-info">EV</span>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{s.pricemulti}}x</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
